<div class="container center mx-auto px-4 py-2">

    <div class="text-center">
        <h1 class="text-3xl mb-4 mx-4 py-2 underline">List of Vehicles <i class="fas fa-car ml-2"></i> </h1>

    </div>

    <table class="w-full border-collapse border border-gray-300">
        <thead>
            <tr>
                <th class="py-2 px-4 bg-gray-200 border border-gray-300">Description <i
                        class="fas fa-info-circle mr-2"></i></th>
                <th class="py-2 px-4 bg-gray-200 border border-gray-300">Total Distance Traveled <i
                        class="fas fa-road mr-2"></i></th>
                <th class="py-2 px-4 bg-gray-200 border border-gray-300">Total Fuel Spent <i
                        class="fas fa-gas-pump mr-2"></i> </th>
                <th class="py-2 px-4 bg-gray-200 border border-gray-300">Fuel Consumption <i
                        class="fas fa-tachometer-alt mr-2"></i></th>
                <th class="py-2 px-4 bg-gray-200 border border-gray-300">Refill?</th>
            </tr>
        </thead>
        <tbody>
            {{#each vehicles}}
            <tr class="hover:bg-gray-100">
                <td class="py-2 px-4 border border-gray-300{{#unless description}} bg-green-200{{/unless}}">
                    {{description}}</td>
                <td class="py-2 px-4 border border-gray-300{{#unless total_liters}} bg-green-200{{/unless}}">
                    {{total_liters}}</td>
                <td class="py-2 px-4 border border-gray-300{{#unless total_distance}} bg-green-200{{/unless}}">
                    {{total_distance}}</td>
                <td class="py-2 px-4 border border-gray-300{{#unless fuel_consumption}} bg-green-200{{/unless}}">
                    {{fuel_consumption}}</td>
                <td class="py-2 px-4 border border-gray-300">
                    <a class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600" href="/record/{{id}}">click
                        to
                        refill</a>
                </td>


            </tr>
            {{/each}}
        </tbody>
    </table>
</div>